<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>CarnaStore &mdash; Venha ser felix no carnaval!</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/styles/index.css">
</head>

<body>
    <header class="header container" role="banner">
        <h1 class="header__brand">
            <a href="index.html" rel="home">
                <img src="../assets/images/logo.svg" alt="Logotipo CarnaStore" class="header__logo" width="253"
                    height="41">
            </a>
        </h1>

        <p class="header__slogan">Venha ser felix no carnaval!</p>
    </header><!-- .header -->

    <main>
        <section class="banner">
            <div class="container">
                <div class="banner__inner">
                    <h2 class="banner__title">Ainda dá tempo de <span>ser felix</span></h2>
                    <p class="banner__text">Fantasias premium por <b>$ 100,00</b></p>
                    <a href="" class="btn">Comprar agora</a>
                </div>
            </div>
        </section><!-- .banner -->

        <section class="products container">
            <h2 class="products__title">Se você comprar eu te dou um <b>beijo (só se quixer)</b></h2>

            <div class="products__wrapper">
                <div class="card">
                    <div class="card__header">
                        <img src="../../layout/images/fantasia-01.png" alt="fantasia" class="card__img">
                    </div>
                    <div class="card__content">
                        <p class="card__price">De <del>R$ 200</del> por <b>R$ 100,00</b></p>
                        <a href="show.html" class="btn">Mais detalhes</a>
                    </div>
                </div> <!-- .card -->

                <div class="card">
                    <div class="card__header">
                        <img src="../../layout/images/fantasia-01.png" alt="fantasia" class="card__img">
                    </div>
                    <div class="card__content">
                        <p class="card__price">De <del>R$ 200</del> por <b>R$ 100,00</b></p>
                        <a href="show.html" class="btn">Mais detalhes</a>
                    </div>
                </div> <!-- .card -->

                <div class="card">
                    <div class="card__header">
                        <img src="../../layout/images/fantasia-01.png" alt="fantasia" class="card__img">
                    </div>
                    <div class="card__content">
                        <p class="card__price">De <del>R$ 200</del> por <b>R$ 100,00</b></p>
                        <a href="show.html" class="btn">Mais detalhes</a>
                    </div>
                </div> <!-- .card -->

            </div>
        </section><!-- .products -->
    </main>

    <footer></footer><!-- .footer -->
</body>

</html>