<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>CarnaStore &mdash; Venha ser felix no carnaval!</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/styles/index.css">
</head>

<body>
    <header class="header container" role="banner">
        <p class="header__brand">
            <a href="index.html" rel="home">
                <img src="../assets/images/logo.svg" alt="Logotipo CarnaStore" class="header__logo" width="253"
                    height="41">
            </a>
        </p>

        <p class="header__slogan">Venha ser felix no carnaval!</p>
    </header><!-- .header -->

    <main>
        <section class="banner">
            <div class="container banner__container"></div>
        </section><!-- .banner -->

        <section class="products container">
            <h2 class="products__title">Outras fantasias que vc vai gostar</h2>

            <div class="products__wrapper"></div>
        </section><!-- .products -->
    </main>

    <footer class="footer" role="contentinfo">
        <div class="footer__inner">
            <div class="container">
                <a href="index.html" rel="home" class="footer__brand">
                    <img src="../assets/images/white-logo.svg" alt="Logotipo CarnaStore" class="header__logo"
                        width="168" height="33">
                </a>

                <p class="footer__contact"><a href="mailto:contato@carnastore.com">contato@carnastore.com</a></p>
            </div>
        </div>

        <div class="footer__info-pay">
            <div class="container">
                <div class="footer__cards">
                    <img src="../assets/images/cards.svg" alt="Cartões aceitos" width="175" height="35">
                </div>

                <div class="footer__security">
                    <img src="../assets/images/security-icon.svg" alt="Ícone de segurança" width="35" height="35">
                </div>
            </div>
        </div>

        <div class="footer__credits">
            <p>Desenvolvido pela <a href="https://humanoide.co/" target="_blank" rel="noopener">Humanoide</a></p>
        </div>
    </footer><!-- .footer -->

    <script src="../assets/js/index.js"></script>
</body>

</html>